__pycache__
venv
temp.py
build
dist
*.egg-info
*.csv

.vscode

# Matlab
citast_python

# Training runs
trained/*

# SAC attitude controller batch
!trained/SAC_citation_tracking_attitude_1659223631
!trained/SAC_citation_tracking_attitude_1659223631/*
trained/SAC_citation_tracking_attitude_1659223631/[0-9]*
!trained/SAC_citation_tracking_attitude_1659223628
!trained/SAC_citation_tracking_attitude_1659223628/*
trained/SAC_citation_tracking_attitude_1659223628/[0-9]*
!trained/SAC_citation_tracking_attitude_1659223630
!trained/SAC_citation_tracking_attitude_1659223630/*
trained/SAC_citation_tracking_attitude_1659223630/[0-9]*
!trained/SAC_citation_tracking_attitude_1659223629
!trained/SAC_citation_tracking_attitude_1659223629/*
trained/SAC_citation_tracking_attitude_1659223629/[0-9]*
!trained/SAC_citation_tracking_attitude_1659223627
!trained/SAC_citation_tracking_attitude_1659223627/*
trained/SAC_citation_tracking_attitude_1659223627/[0-9]*

!trained/SAC_citation_tracking_attitude_1659223622
!trained/SAC_citation_tracking_attitude_1659223622/*
trained/SAC_citation_tracking_attitude_1659223622/[0-9]*
!trained/SAC_citation_tracking_attitude_1659223623
!trained/SAC_citation_tracking_attitude_1659223623/*
trained/SAC_citation_tracking_attitude_1659223623/[0-9]*
!trained/SAC_citation_tracking_attitude_1659223621
!trained/SAC_citation_tracking_attitude_1659223621/*
trained/SAC_citation_tracking_attitude_1659223621/[0-9]*
!trained/SAC_citation_tracking_attitude_1659223620
!trained/SAC_citation_tracking_attitude_1659223620/*
trained/SAC_citation_tracking_attitude_1659223620/[0-9]*
!trained/SAC_citation_tracking_attitude_1659223619
!trained/SAC_citation_tracking_attitude_1659223619/*
trained/SAC_citation_tracking_attitude_1659223619/[0-9]*

# SAC attitude controller
!trained/SAC_citation_tracking_attitude_1659223627/726000
!trained/SAC_citation_tracking_attitude_1659223622/496000

# SAC altitude controller batch
!trained/SAC_citation_attitude_tracking_altitude_1659276263
!trained/SAC_citation_attitude_tracking_altitude_1659276263/*
trained/SAC_citation_attitude_tracking_altitude_1659276263/[0-9]*
!trained/SAC_citation_attitude_tracking_altitude_1659276265
!trained/SAC_citation_attitude_tracking_altitude_1659276265/*
trained/SAC_citation_attitude_tracking_altitude_1659276265/[0-9]*
!trained/SAC_citation_attitude_tracking_altitude_1659276264
!trained/SAC_citation_attitude_tracking_altitude_1659276264/*
trained/SAC_citation_attitude_tracking_altitude_1659276264/[0-9]*
!trained/SAC_citation_attitude_tracking_altitude_1659276267
!trained/SAC_citation_attitude_tracking_altitude_1659276267/*
trained/SAC_citation_attitude_tracking_altitude_1659276267/[0-9]*
!trained/SAC_citation_attitude_tracking_altitude_1659276266
!trained/SAC_citation_attitude_tracking_altitude_1659276266/*
trained/SAC_citation_attitude_tracking_altitude_1659276266/[0-9]*

# SAC altitude controller
!trained/SAC_citation_attitude_tracking_altitude_1659276263/764000

# IDHPSAC attiude controller decoupled
!trained/IDHPSAC_DC_citation_tracking_attitude_1659358080
!trained/IDHPSAC_DC_citation_tracking_attitude_1659358080/*

# IDHPSAC attitude controller
!trained/IDHPSAC_citation_tracking_attitude_1659271870
!trained/IDHPSAC_citation_tracking_attitude_1659271870/*

# IDHPSAC attitude controller critic std batches
!trained/IDHPSAC_citation_tracking_attitude_1659425402
!trained/IDHPSAC_citation_tracking_attitude_1659425402/*
!trained/IDHPSAC_citation_tracking_attitude_1659425407
!trained/IDHPSAC_citation_tracking_attitude_1659425407/*
!trained/IDHPSAC_citation_tracking_attitude_1659425401
!trained/IDHPSAC_citation_tracking_attitude_1659425401/*
!trained/IDHPSAC_citation_tracking_attitude_1659425406
!trained/IDHPSAC_citation_tracking_attitude_1659425406/*
!trained/IDHPSAC_citation_tracking_attitude_1659425409
!trained/IDHPSAC_citation_tracking_attitude_1659425409/*
!trained/IDHPSAC_citation_tracking_attitude_1659425405
!trained/IDHPSAC_citation_tracking_attitude_1659425405/*
!trained/IDHPSAC_citation_tracking_attitude_1659425408
!trained/IDHPSAC_citation_tracking_attitude_1659425408/*
!trained/IDHPSAC_citation_tracking_attitude_1659425403
!trained/IDHPSAC_citation_tracking_attitude_1659425403/*
!trained/IDHPSAC_citation_tracking_attitude_1659425404
!trained/IDHPSAC_citation_tracking_attitude_1659425404/*
!trained/IDHPSAC_citation_tracking_attitude_1659427751
!trained/IDHPSAC_citation_tracking_attitude_1659427751/*
!trained/IDHPSAC_citation_tracking_attitude_1659427747
!trained/IDHPSAC_citation_tracking_attitude_1659427747/*
!trained/IDHPSAC_citation_tracking_attitude_1659427744
!trained/IDHPSAC_citation_tracking_attitude_1659427744/*
!trained/IDHPSAC_citation_tracking_attitude_1659427745
!trained/IDHPSAC_citation_tracking_attitude_1659427745/*
!trained/IDHPSAC_citation_tracking_attitude_1659427749
!trained/IDHPSAC_citation_tracking_attitude_1659427749/*
!trained/IDHPSAC_citation_tracking_attitude_1659427742
!trained/IDHPSAC_citation_tracking_attitude_1659427742/*
!trained/IDHPSAC_citation_tracking_attitude_1659427743
!trained/IDHPSAC_citation_tracking_attitude_1659427743/*
!trained/IDHPSAC_citation_tracking_attitude_1659427748
!trained/IDHPSAC_citation_tracking_attitude_1659427748/*
!trained/IDHPSAC_citation_tracking_attitude_1659427750
!trained/IDHPSAC_citation_tracking_attitude_1659427750/*
!trained/IDHPSAC_citation_tracking_attitude_1659427746
!trained/IDHPSAC_citation_tracking_attitude_1659427746/*
!trained/IDHPSAC_citation_tracking_attitude_1659428699
!trained/IDHPSAC_citation_tracking_attitude_1659428699/*
!trained/IDHPSAC_citation_tracking_attitude_1659428702
!trained/IDHPSAC_citation_tracking_attitude_1659428702/*
!trained/IDHPSAC_citation_tracking_attitude_1659428704
!trained/IDHPSAC_citation_tracking_attitude_1659428704/*
!trained/IDHPSAC_citation_tracking_attitude_1659428700
!trained/IDHPSAC_citation_tracking_attitude_1659428700/*
!trained/IDHPSAC_citation_tracking_attitude_1659428703
!trained/IDHPSAC_citation_tracking_attitude_1659428703/*
!trained/IDHPSAC_citation_tracking_attitude_1659428701
!trained/IDHPSAC_citation_tracking_attitude_1659428701/*
!trained/IDHPSAC_citation_tracking_attitude_1659428698
!trained/IDHPSAC_citation_tracking_attitude_1659428698/*
!trained/IDHPSAC_citation_tracking_attitude_1659428696
!trained/IDHPSAC_citation_tracking_attitude_1659428696/*
!trained/IDHPSAC_citation_tracking_attitude_1659428695
!trained/IDHPSAC_citation_tracking_attitude_1659428695/*
!trained/IDHPSAC_citation_tracking_attitude_1659428873
!trained/IDHPSAC_citation_tracking_attitude_1659428873/*
!trained/IDHPSAC_citation_tracking_attitude_1659428867
!trained/IDHPSAC_citation_tracking_attitude_1659428867/*
!trained/IDHPSAC_citation_tracking_attitude_1659428872
!trained/IDHPSAC_citation_tracking_attitude_1659428872/*
!trained/IDHPSAC_citation_tracking_attitude_1659428869
!trained/IDHPSAC_citation_tracking_attitude_1659428869/*
!trained/IDHPSAC_citation_tracking_attitude_1659428868
!trained/IDHPSAC_citation_tracking_attitude_1659428868/*
!trained/IDHPSAC_citation_tracking_attitude_1659428871
!trained/IDHPSAC_citation_tracking_attitude_1659428871/*
!trained/IDHPSAC_citation_tracking_attitude_1659428874
!trained/IDHPSAC_citation_tracking_attitude_1659428874/*
!trained/IDHPSAC_citation_tracking_attitude_1659428865
!trained/IDHPSAC_citation_tracking_attitude_1659428865/*
!trained/IDHPSAC_citation_tracking_attitude_1659428866
!trained/IDHPSAC_citation_tracking_attitude_1659428866/*
!trained/IDHPSAC_citation_tracking_attitude_1659428993
!trained/IDHPSAC_citation_tracking_attitude_1659428993/*
!trained/IDHPSAC_citation_tracking_attitude_1659428992
!trained/IDHPSAC_citation_tracking_attitude_1659428992/*
!trained/IDHPSAC_citation_tracking_attitude_1659428991
!trained/IDHPSAC_citation_tracking_attitude_1659428991/*
!trained/IDHPSAC_citation_tracking_attitude_1659428995
!trained/IDHPSAC_citation_tracking_attitude_1659428995/*
!trained/IDHPSAC_citation_tracking_attitude_1659428990
!trained/IDHPSAC_citation_tracking_attitude_1659428990/*
!trained/IDHPSAC_citation_tracking_attitude_1659428988
!trained/IDHPSAC_citation_tracking_attitude_1659428988/*
!trained/IDHPSAC_citation_tracking_attitude_1659428987
!trained/IDHPSAC_citation_tracking_attitude_1659428987/*
!trained/IDHPSAC_citation_tracking_attitude_1659428994
!trained/IDHPSAC_citation_tracking_attitude_1659428994/*
!trained/IDHPSAC_citation_tracking_attitude_1659428986
!trained/IDHPSAC_citation_tracking_attitude_1659428986/*
!trained/IDHPSAC_citation_tracking_attitude_1659430132
!trained/IDHPSAC_citation_tracking_attitude_1659430132/*
!trained/IDHPSAC_citation_tracking_attitude_1659430135
!trained/IDHPSAC_citation_tracking_attitude_1659430135/*
!trained/IDHPSAC_citation_tracking_attitude_1659430130
!trained/IDHPSAC_citation_tracking_attitude_1659430130/*
!trained/IDHPSAC_citation_tracking_attitude_1659430133
!trained/IDHPSAC_citation_tracking_attitude_1659430133/*
!trained/IDHPSAC_citation_tracking_attitude_1659430131
!trained/IDHPSAC_citation_tracking_attitude_1659430131/*
!trained/IDHPSAC_citation_tracking_attitude_1659430137
!trained/IDHPSAC_citation_tracking_attitude_1659430137/*
!trained/IDHPSAC_citation_tracking_attitude_1659430129
!trained/IDHPSAC_citation_tracking_attitude_1659430129/*
!trained/IDHPSAC_citation_tracking_attitude_1659430128
!trained/IDHPSAC_citation_tracking_attitude_1659430128/*
!trained/IDHPSAC_citation_tracking_attitude_1659430136
!trained/IDHPSAC_citation_tracking_attitude_1659430136/*
!trained/IDHPSAC_citation_tracking_attitude_1659430134
!trained/IDHPSAC_citation_tracking_attitude_1659430134/*
!trained/IDHPSAC_citation_tracking_attitude_1659430312
!trained/IDHPSAC_citation_tracking_attitude_1659430312/*
!trained/IDHPSAC_citation_tracking_attitude_1659430315
!trained/IDHPSAC_citation_tracking_attitude_1659430315/*
!trained/IDHPSAC_citation_tracking_attitude_1659430314
!trained/IDHPSAC_citation_tracking_attitude_1659430314/*
!trained/IDHPSAC_citation_tracking_attitude_1659430313
!trained/IDHPSAC_citation_tracking_attitude_1659430313/*
!trained/IDHPSAC_citation_tracking_attitude_1659430311
!trained/IDHPSAC_citation_tracking_attitude_1659430311/*
!trained/IDHPSAC_citation_tracking_attitude_1659430308
!trained/IDHPSAC_citation_tracking_attitude_1659430308/*
!trained/IDHPSAC_citation_tracking_attitude_1659430310
!trained/IDHPSAC_citation_tracking_attitude_1659430310/*
!trained/IDHPSAC_citation_tracking_attitude_1659430309
!trained/IDHPSAC_citation_tracking_attitude_1659430309/*
!trained/IDHPSAC_citation_tracking_attitude_1659430316
!trained/IDHPSAC_citation_tracking_attitude_1659430316/*
!trained/IDHPSAC_citation_tracking_attitude_1659430307
!trained/IDHPSAC_citation_tracking_attitude_1659430307/*
!trained/IDHPSAC_citation_tracking_attitude_1659430908
!trained/IDHPSAC_citation_tracking_attitude_1659430908/*
!trained/IDHPSAC_citation_tracking_attitude_1659430909
!trained/IDHPSAC_citation_tracking_attitude_1659430909/*
!trained/IDHPSAC_citation_tracking_attitude_1659430906
!trained/IDHPSAC_citation_tracking_attitude_1659430906/*
!trained/IDHPSAC_citation_tracking_attitude_1659430910
!trained/IDHPSAC_citation_tracking_attitude_1659430910/*
!trained/IDHPSAC_citation_tracking_attitude_1659430907
!trained/IDHPSAC_citation_tracking_attitude_1659430907/*
!trained/IDHPSAC_citation_tracking_attitude_1659430913
!trained/IDHPSAC_citation_tracking_attitude_1659430913/*
!trained/IDHPSAC_citation_tracking_attitude_1659430912
!trained/IDHPSAC_citation_tracking_attitude_1659430912/*
!trained/IDHPSAC_citation_tracking_attitude_1659430905
!trained/IDHPSAC_citation_tracking_attitude_1659430905/*
!trained/IDHPSAC_citation_tracking_attitude_1659430911
!trained/IDHPSAC_citation_tracking_attitude_1659430911/*
!trained/IDHPSAC_citation_tracking_attitude_1659430904
!trained/IDHPSAC_citation_tracking_attitude_1659430904/*
!trained/IDHPSAC_citation_tracking_attitude_1659431008
!trained/IDHPSAC_citation_tracking_attitude_1659431008/*
!trained/IDHPSAC_citation_tracking_attitude_1659431013
!trained/IDHPSAC_citation_tracking_attitude_1659431013/*
!trained/IDHPSAC_citation_tracking_attitude_1659431012
!trained/IDHPSAC_citation_tracking_attitude_1659431012/*
!trained/IDHPSAC_citation_tracking_attitude_1659431011
!trained/IDHPSAC_citation_tracking_attitude_1659431011/*
!trained/IDHPSAC_citation_tracking_attitude_1659431014
!trained/IDHPSAC_citation_tracking_attitude_1659431014/*
!trained/IDHPSAC_citation_tracking_attitude_1659431009
!trained/IDHPSAC_citation_tracking_attitude_1659431009/*
!trained/IDHPSAC_citation_tracking_attitude_1659431006
!trained/IDHPSAC_citation_tracking_attitude_1659431006/*
!trained/IDHPSAC_citation_tracking_attitude_1659431007
!trained/IDHPSAC_citation_tracking_attitude_1659431007/*
!trained/IDHPSAC_citation_tracking_attitude_1659431010
!trained/IDHPSAC_citation_tracking_attitude_1659431010/*
!trained/IDHPSAC_citation_tracking_attitude_1659431005
!trained/IDHPSAC_citation_tracking_attitude_1659431005/*
!trained/IDHPSAC_citation_tracking_attitude_1659431093
!trained/IDHPSAC_citation_tracking_attitude_1659431093/*
!trained/IDHPSAC_citation_tracking_attitude_1659431090
!trained/IDHPSAC_citation_tracking_attitude_1659431090/*
!trained/IDHPSAC_citation_tracking_attitude_1659431097
!trained/IDHPSAC_citation_tracking_attitude_1659431097/*
!trained/IDHPSAC_citation_tracking_attitude_1659431095
!trained/IDHPSAC_citation_tracking_attitude_1659431095/*
!trained/IDHPSAC_citation_tracking_attitude_1659431096
!trained/IDHPSAC_citation_tracking_attitude_1659431096/*
!trained/IDHPSAC_citation_tracking_attitude_1659431092
!trained/IDHPSAC_citation_tracking_attitude_1659431092/*
!trained/IDHPSAC_citation_tracking_attitude_1659431089
!trained/IDHPSAC_citation_tracking_attitude_1659431089/*
!trained/IDHPSAC_citation_tracking_attitude_1659431094
!trained/IDHPSAC_citation_tracking_attitude_1659431094/*
!trained/IDHPSAC_citation_tracking_attitude_1659431091
!trained/IDHPSAC_citation_tracking_attitude_1659431091/*
!trained/IDHPSAC_citation_tracking_attitude_1659431088
!trained/IDHPSAC_citation_tracking_attitude_1659431088/*
!trained/IDHPSAC_citation_tracking_attitude_1659431536
!trained/IDHPSAC_citation_tracking_attitude_1659431536/*
!trained/IDHPSAC_citation_tracking_attitude_1659431520
!trained/IDHPSAC_citation_tracking_attitude_1659431520/*
!trained/IDHPSAC_citation_tracking_attitude_1659431519
!trained/IDHPSAC_citation_tracking_attitude_1659431519/*
!trained/IDHPSAC_citation_tracking_attitude_1659431532
!trained/IDHPSAC_citation_tracking_attitude_1659431532/*
!trained/IDHPSAC_citation_tracking_attitude_1659431531
!trained/IDHPSAC_citation_tracking_attitude_1659431531/*
!trained/IDHPSAC_citation_tracking_attitude_1659431533
!trained/IDHPSAC_citation_tracking_attitude_1659431533/*
!trained/IDHPSAC_citation_tracking_attitude_1659431617
!trained/IDHPSAC_citation_tracking_attitude_1659431617/*
!trained/IDHPSAC_citation_tracking_attitude_1659431628
!trained/IDHPSAC_citation_tracking_attitude_1659431628/*
!trained/IDHPSAC_citation_tracking_attitude_1659431616
!trained/IDHPSAC_citation_tracking_attitude_1659431616/*
!trained/IDHPSAC_citation_tracking_attitude_1659431626
!trained/IDHPSAC_citation_tracking_attitude_1659431626/*
!trained/IDHPSAC_citation_tracking_attitude_1659431631
!trained/IDHPSAC_citation_tracking_attitude_1659431631/*
!trained/IDHPSAC_citation_tracking_attitude_1659431614
!trained/IDHPSAC_citation_tracking_attitude_1659431614/*
!trained/IDHPSAC_citation_tracking_attitude_1659431525
!trained/IDHPSAC_citation_tracking_attitude_1659431525/*
!trained/IDHPSAC_citation_tracking_attitude_1659431522
!trained/IDHPSAC_citation_tracking_attitude_1659431522/*
!trained/IDHPSAC_citation_tracking_attitude_1659431521
!trained/IDHPSAC_citation_tracking_attitude_1659431521/*
!trained/IDHPSAC_citation_tracking_attitude_1659431530
!trained/IDHPSAC_citation_tracking_attitude_1659431530/*
!trained/IDHPSAC_citation_tracking_attitude_1659431523
!trained/IDHPSAC_citation_tracking_attitude_1659431523/*
!trained/IDHPSAC_citation_tracking_attitude_1659431534
!trained/IDHPSAC_citation_tracking_attitude_1659431534/*
!trained/IDHPSAC_citation_tracking_attitude_1659431625
!trained/IDHPSAC_citation_tracking_attitude_1659431625/*
!trained/IDHPSAC_citation_tracking_attitude_1659431624
!trained/IDHPSAC_citation_tracking_attitude_1659431624/*
!trained/IDHPSAC_citation_tracking_attitude_1659431629
!trained/IDHPSAC_citation_tracking_attitude_1659431629/*
!trained/IDHPSAC_citation_tracking_attitude_1659431620
!trained/IDHPSAC_citation_tracking_attitude_1659431620/*
!trained/IDHPSAC_citation_tracking_attitude_1659431627
!trained/IDHPSAC_citation_tracking_attitude_1659431627/*
!trained/IDHPSAC_citation_tracking_attitude_1659431615
!trained/IDHPSAC_citation_tracking_attitude_1659431615/*
!trained/IDHPSAC_citation_tracking_attitude_1659431630
!trained/IDHPSAC_citation_tracking_attitude_1659431630/*
!trained/IDHPSAC_citation_tracking_attitude_1659431907
!trained/IDHPSAC_citation_tracking_attitude_1659431907/*
!trained/IDHPSAC_citation_tracking_attitude_1659431910
!trained/IDHPSAC_citation_tracking_attitude_1659431910/*
!trained/IDHPSAC_citation_tracking_attitude_1659431908
!trained/IDHPSAC_citation_tracking_attitude_1659431908/*
!trained/IDHPSAC_citation_tracking_attitude_1659431913
!trained/IDHPSAC_citation_tracking_attitude_1659431913/*
!trained/IDHPSAC_citation_tracking_attitude_1659431911
!trained/IDHPSAC_citation_tracking_attitude_1659431911/*
!trained/IDHPSAC_citation_tracking_attitude_1659431919
!trained/IDHPSAC_citation_tracking_attitude_1659431919/*
!trained/IDHPSAC_citation_tracking_attitude_1659431916
!trained/IDHPSAC_citation_tracking_attitude_1659431916/*
!trained/IDHPSAC_citation_tracking_attitude_1659431915
!trained/IDHPSAC_citation_tracking_attitude_1659431915/*
!trained/IDHPSAC_citation_tracking_attitude_1659431914
!trained/IDHPSAC_citation_tracking_attitude_1659431914/*